In [1]:
import pandas as pd
pd.options.display.max_rows = 150
pd.options.mode.chained_assignment = None
import matplotlib.pyplot as plt
%matplotlib inline
import timeit

#read csv file
df = pd.read_csv('vehicle-fuel-economy/vehicles.csv', low_memory=False)
#index 
df_sort = df.set_index("id")
#filter only selected data
df_co2 = df_sort[['comb08','VClass','year']]
#print(df_co2.VClass.unique())
#create a new Column
df_co2['EPAClass'] = pd.Series((n for n in df_co2.VClass), index=df_co2.index)

#Assign these to Cars
df_co2.loc[df_co2.EPAClass == 'Two Seaters', 'EPAClass'] = 'Cars'
df_co2.loc[df_co2.EPAClass == 'Subcompact Cars', 'EPAClass'] = 'Cars'
df_co2.loc[df_co2.EPAClass == 'Compact Cars', 'EPAClass'] = 'Cars'
df_co2.loc[df_co2.EPAClass == 'Midsize Cars', 'EPAClass'] = 'Cars'
df_co2.loc[df_co2.EPAClass == 'Large Cars', 'EPAClass'] = 'Cars'
df_co2.loc[df_co2.EPAClass == 'Minicompact Cars', 'EPAClass'] = 'Cars'
df_co2.loc[df_co2.EPAClass == 'Small Station Wagons', 'EPAClass'] = 'Cars'
df_co2.loc[df_co2.EPAClass == 'Midsize-Large Station Wagons', 'EPAClass'] = 'Cars'
#Assign these df to Trucks
df_co2.loc[df_co2.EPAClass == 'Vans', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Vans, Cargo Type', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Small Pickup Trucks', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Standard Pickup Trucks', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Vans, Passenger Type', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Minivan - 2WD', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Sport Utility Vehicle - 4WD', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Minivan - 4WD', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Small Pickup Trucks 4WD', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Standard Pickup Trucks/2wd', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Vans Passenger', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Midsize Station Wagons', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Small Pickup Trucks 2WD', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Standard Pickup Trucks 2WD', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Standard Pickup Trucks 4WD', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Small Sport Utility Vehicle 4WD', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Standard Sport Utility Vehicle 2WD', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Standard Sport Utility Vehicle 4WD', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Small Sport Utility Vehicle 2WD', 'EPAClass'] = 'Trucks'
df_co2.loc[df_co2.EPAClass == 'Sport Utility Vehicle - 2WD', 'EPAClass'] = 'Trucks'
#Assign these df to Special
df_co2.loc[df_co2.EPAClass == 'Special Purpose df/2wd', 'EPAClass'] = 'Special'
df_co2.loc[df_co2.EPAClass == 'Special Purpose df/4wd', 'EPAClass'] = 'Special'
df_co2.loc[df_co2.EPAClass == 'Special Purpose Vehicle', 'EPAClass'] = 'Special'
df_co2.loc[df_co2.EPAClass == 'Special Purpose Vehicles/2wd', 'EPAClass'] = 'Special'
df_co2.loc[df_co2.EPAClass == 'Special Purpose Vehicle 2WD', 'EPAClass'] = 'Special'
df_co2.loc[df_co2.EPAClass == 'Special Purpose df', 'EPAClass'] = 'Special'
df_co2.loc[df_co2.EPAClass == 'Special Purpose Vehicle 4WD', 'EPAClass'] = 'Special'
df_co2.loc[df_co2.EPAClass == 'Special Purpose Vehicles/4wd', 'EPAClass'] = 'Special'
df_co2.loc[df_co2.EPAClass == 'Special Purpose Vehicles', 'EPAClass'] = 'Special'
#Added multi index so that mean could be performed
df_co2.set_index(['year','EPAClass'], inplace=True)
# Mean of mileage is calculated
grouped = df_co2.groupby(level=['year', 'EPAClass']).mean().dropna()
#dropped Index 
grouped.reset_index(level='EPAClass', inplace=True)
#Pivoted on year to reshape the dataframe
pivoted = grouped.pivot_table(index='year', columns='EPAClass', values='comb08')
#filled NaN values by Column mean values
final=pivoted.fillna(pivoted.Special.mean())

#plot on Bokeh

from bokeh.palettes import Spectral11
from bokeh.plotting import figure, show, output_file
output_file('temp.html')
   
numlines=len(pivoted.columns)
mypalette=Spectral11[0:numlines]

p = figure(width=500, height=300) 
p.multi_line(xs=[final.index.values]*numlines,
                ys=[final[name].values for name in final],
                line_color=mypalette,
                line_width=5)
show(p)

In [35]:
final

EPAClass       Cars    Special     Trucks
year
1984      21.943015  16.911504  17.464615
1985      21.938062  17.233010  16.566802
1986      21.930091  17.080000  16.577114
1987      21.385373  16.629139  16.264935
1988      21.700152  16.327731  15.935028
1989      21.431548  16.546099  15.638235
1990      21.390164  16.885714  15.460366
1991      20.829161  16.649254  15.476489
1992      20.754386  16.708333  15.505119
1993      21.165152  16.836879  15.541096
1994      21.174377  17.033557  15.616236
1995      20.957821  16.176923  15.481343
1996      21.751606  17.190476  15.638889
1997      21.527716  17.076389  15.790419
1998      21.543430  17.384615  16.690722
1999      21.729032  15.000000  17.072539
2000      21.333333  18.236412  17.441026
2001      21.585062  15.000000  17.119159
2002      21.237911  18.236412  16.831878
2003      20.970750  16.666667  16.834008
2004      21.088481  18.236412  16.753346
2005      20.905573  18.236412  17.067308
2006      20.534483  18.236412  17.215649
2007      20.492119  18.236412  17.421622
2008      20.758887  18.236412  17.500000
2009      21.224649  18.236412  17.970425
2010      21.867378  23.000000  18.722222
2011      22.711420  16.666667  18.729560
2012      23.465347  33.000000  19.006865
2013      25.158377  19.571429  19.400000
2014      25.476131  20.583333  19.768473
2015      26.013447  19.642857  20.505882
2016      26.950000  20.560000  22.044601
2017      27.096250  20.285714  21.833333
2018      24.804965  19.736842  20.973244

In [ ]:
vehicles_co2['VClass'].unique()

The above plot is based on EPA data maitained by United States of America - EPA organization. The plot particulary shows the Fuel Economy has improved over the years. The originial file has many fields from where I have taken year, Vehicle Class and Combined Fuel Economy column. It is important to note that the Fuel Economy varies based on type of fuel and City/Highway. To reduce complexity, I have just selected Combined Fuel Economy which is a value EPA Systen already calculated.

The VClass had to be grouped using Data Wrangling in Cars, Special and Trucks and a new Column is created. Then a Mean is calculated on Year and Vehicle Type. Finally Pivot funtion is used to reshape the Dataframe and turn Rows into COlumns.

As can be seen Fuel Economy has been steadily improved for past few years on all type of Cars. the 2018 data is stil new will actually be adjused later.

In [ ]:
vehicles[make]

In [ ]:
vehicles

In [ ]:
vehicles[make]